:root {
    --mono-font: Iosevka, monospace;
    --sans-serif-font: Arial;
    --header-font: Raleway, "Trebuchet MS";
    --serif-font: Georgia;
    --cmu-font: "CMU serif";
    --black-basic: #20272d;
    --blue-basic: #152a6e;
    --blacker-basic: #161b1f;
    --white-basic: #babcbf;
    --whiter-basic: #dadada;
    --header-color: #e7f549;
    --dark-header-color: #eae486;
    --gray-basic: #9c9b97;
    --dark-gray-basic: #555956;
    --pre-color: #ccc7b6;
}

#blog_page {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 60px;
    margin-left: 240px;
    /* 55px here is the extra padding, I do not know why */
    padding-right: calc(100vw - 240px - 840px - 55px);
    width: 840px;
    min-height: 100vh;
    background-color: var(--white-basic);
}

#blog_sidebar #blog_sidebar_header .sidebar_intro p {
    margin-left: -5px;
    font-style: italic;
    font-family: var(--header-font);
    font-size: 15px;
    color: var(--white-basic);
}

#blog_sidebar {
    padding-top: 30px;
    padding-left: 20px;
    position: fixed;
    font-family: var(--mono-font);
    width: 220px;
    height: 100%;
    background-color: var(--black-basic);
}

#blog_sidebar_header .sidebar_intro p {
    margin-left: -5px;
    font-style: italic;
    font-family: var(--header-font);
    font-size: 16px;
    color: var(--white-basic);
}

#blog_sidebar footer {
    font-size: 15px;
    color: var(--white-basic);
    left: 20px;
    position: fixed;
    bottom: 20px;
}

#blog_sidebar_header .sidebar_navi a {
    display: block;
    font-weight: bold;
    background-color: var(--white-basic);
    font-size: 35px;
    line-height: 25px;
    padding-left: 40px;
    border-radius: 20px 0px 0px 20px;
}

.blog_front {
    display: block;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 5px;
    border-top: 4px double var(--black-basic);
    border-bottom: 4px double var(--black-basic);
}

.blog_title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-family: Helvetica;
    font-weight: bold;
}

.blog_annot {
    list-style: none;
    padding-right: 40px;
}

#blog_page .blog_annot li {
    color: var(--dark-gray-basic);
    font-family: var(--sans-serif-font);
    font-size: 18px;
    line-height: 20px;
}


#blog_page * {
    color: var(--blacker-basic);
    padding-right: 40px;
}

#blog_page li {
    margin-left: 20px;
}

#blog_page li p {
    margin-left: 0px;
}

#blog_content a {
    color: var(--blacker-basic);
}

#blog_content {
    counter-reset: section;
}

#blog_content h1 {
    counter-reset: sub-section;
    color: var(--blacker-basic);
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h2 {
    counter-reset: composite;
    color: var(--blacker-basic);
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h3 {
    counter-reset: detail;
    color: var(--blacker-basic);
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h4 {
    color: var(--blacker-basic);
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h1:before {
    counter-increment: section;
    content: counter(section) ". ";
    font-size: 30px;
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h2:before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) ". ";
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h3:before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite)
        ". ";
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content h4:before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite)
        "." counter(detail) ". ";
    font-family: var(--sans-serif-font);
    font-weight: "regular";
}

#blog_content p,
li {
    margin-left: 20px;
    font-family: var(--serif-font);
    font-size: 19px;
    margin-right: 0px;
    color: var(--blacker-basic);
    text-align: justify;
}

#blog_content a {
    color: #2a4673;
}

#blog_content pre {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: var(--pre-color);
    overflow-x: hidden;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid var(--blacker-basic);
}

#blog_content code {
    color: #382d28;
    font-family: var(--mono-font);
}

#blog_content pre code {
    display: block;
    font-family: var(--mono-font);
    font-size: 15px;
    line-height: 1.4;
    color: var(--black-basic);
    overflow-x: auto;
}

#blog_content pre code::-webkit-scrollbar {
    display: block;
    height: 0.8em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--white-basic);
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--dark-gray-basic);
    border: solid 3px transparent;
    border-radius: 20px 20px 20px 20px;
}

#blog_sidebar_content {
    display: block;
    margin-top: 50px;
}

#blog_sidebar_content ol > li {
    counter-increment: item;
    color: var(--gray-basic);
    font-family: var(--mono-font);
    font-size: 16px;
    line-height: 24px;
    margin-left: -10px;
    padding-left: 0px;
    text-align: left;
}

#blog_sidebar_content ol > ol {
    padding-left: 25px;
}

#blog_sidebar_content ol > li a {
    color: var(--white-basic);
    font-size: 16px;
    line-height: 20px;
    font-family: var(--mono-font);
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: -5px;
    display: inline-flex;
}

#blog_sidebar_content ol ol.collapsed {
    display: none;
}

ol > li:first-child {
    counter-reset: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -40px;
}

#blog_content table {
    margin-left: 40px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid var(--black-basic);
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 8px;
    border: 1px solid var(--black-basic);
}
