:root{
    --mono-font: Iosevka, monospace;
    --sans-serif-font: "Open sans", Arial;
    --header-font: Raleway, "Trebuchet MS";
    --serif-font: Georgia;
    --cmu-font: "CMU serif";
    --black-basic: #20272d;
    --blue-basic: #152a6e;
    --blacker-basic: #161b1f;
    --white-basic: #babcbf;
    --whiter-basic: #dadada;
    --header-color: #e7f549;
    --dark-header-color: #eae486;
    --gray-basic: #9c9b97;
    --dark-gray-basic: #555956;
}

body {
    margin: 0px;
    padding: 0px;
}

p,li,div,span {
    font-family: var(--sans-serif-font);
    font-size: 18px;
    color: var(--white-basic);
    background-color: transparent;
}


footer{
    font-size: 15px;
    font-family: var(--mono-font);
    color: var(--gray-basic);
    display: block;
    margin-top: 100px;
}

a {
    padding: 2px;
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: var(--sans-serif-font);
    color: var(--header-color);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
    position: relative;
}

h3 {
    font-size: 20px;
    position: relative;
}

.page .home_intro p.welcome{
    font-family: var(--sans-serif-font);
    font-size: 18px;
}

.page .home_intro ul>li{
    list-style: none;
}

.page a.guidance {
    display: inline-block;
    background-color: var(--blacker-basic);
    border-radius: 10px 10px 10px 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--dark-header-color);
    font-family: var(--mono-font);
    font-size: 22px;
}

.page a.guidance[target="_blank"]::after {
    display: none;
}

.page p.guidance{
    font-family: var(--mono-font);
    font-size: 16px;
    color: var(--gray-basic);
    margin-left: 20px;
}

.page .home_intro a:hover {
    zoom: 1;
    transform: scale(1.2);
    transition: transform 0.05s ease-in-out;
    text-decoration: none;
}

.page .home_intro .guidance_img{
    height: 1.2em;
}

.page .home_intro .guidance_gif{
    height: 1.2em;
    display:none;
}

.page .home_intro a:hover>.guidance_img{
    height: 40px;
    transform: scale(1.6);
    margin-top:-20px;
    display:none
}

.page .home_intro a:hover>.guidance_gif{
    height: 40px;
    transform: scale(1.6);
    margin-top:-20px;
    display:inline-block;
}

.publication {
    color: var(--white-basic);
    font-size: 22px;
    font-family: var(--serif-font);
    margin-left: -2px;
    margin-bottom: 5px;
    line-height: 27px;
}

.strong {
    color: var(--whiter-basic);
    font-family: var(--mono-font);
}

.author {
    display: block;
    color: var(--gray-basic);
    margin-left: 0px;
    font-family: var(--mono-font);
}

.portrait {
    height: 240px;
    padding-top: 30px;
    margin-top: -10px;
    margin-left: -40px;
    padding-left: 50px;
    background-color: var(--blacker-basic);
    box-shadow: 5px 5px 5px var(--blacker-basic);
    width: calc(100% - 10px);
    display: block;
}

.portrait hr{
    margin-top: 240px;
    margin-left: -50px;
    border: 1px solid var(--blacker-basic);
}

#portrait_mytag ul{
    list-style-type: none;
    padding: 0;
}

#portrait_mytag strong{
    font-size: 30px;
}


#portrait_img{
    float:left;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--white-basic);
}

#portrait_mytag {
    float: left;
    margin-left: 20px;
}

#portrait_mytag li {
    line-height: 40px;
}


div.page {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 60px;
    margin-left: 240px;
    padding-right: calc(100vw - 240px - 800px);
    width: 840px;
    min-height: 100vh;
    background-color: var(--black-basic);
}

.sidebar {
    padding-top: 30px;
    padding-left: 20px;
    position: fixed;
    font-family: var(--mono-font);
    width: 220px;
    height: 100vh;
    background-color: var(--white-basic);
}

div.research_block {
    background: linear-gradient(rgba(33, 39, 44, 0.8), rgba(33, 39, 44, 0.8)),
    url("/image/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 10px;
    width: 800px;
    display:block;
    padding: 10px;
    border: 1px solid var(--white-basic);
    border-radius: 10px 10px 10px 10px;
}

div.research_block:hover {
    zoom: 1;
    transform: scale(1.02);
    transition: transform 0.15s ease-in-out;
}

.research_block>.research_intro ul>li,
.research_block>.research_intro p
{
    font-family: var(--serif-font);
    text-align:justify;
}

p.research_title {
    background-color: transparent;
    font-family: var(--header-font);
    font-size: 20px;
    color: var(--header-color);
}

div.research_intro {
    background-color: transparent;
    font-family: var(--sans-serif-font);
    font-size: 20px;
    line-height: 22px;
    margin-left: 10px;
}

div.research_intro li, p{
    background-color: transparent;
    font-family: var(--sans-serif-font);
    font-size: 18px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: justify;
}

div.research {
    position: relative;
}

.clear {
    clear: left;
}

div.projects {
    position: relative;
    left: 40px;
}

div.research_intro p {
    margin-left: 20px;
}

.project_intro>ul>li {
    font-family: var(--serif-font);
    text-align: justify;
    padding-right: 40px;
}

.project_intro>ul>li>ul>li {
    font-family: var(--serif-font);
    text-align: justify;

}

div.sidebar_intro img{
    height: 180px;
    width: 180px;
    object-position: center center;
}

div.sidebar_intro p{
    margin-left: -5px;
    font-style: italic;
    font-family: var(--header-font);
    font-size: 15px;
    color: var(--black-basic);
}

div.sidebar_intro:hover{
    transform: scale(1);
    transition: transform 0.15s ease-in-out;
}

.sidebar_intro:hover img{
    text-decoration: none;
    background: none
    );
}

.sidebar_extern{
    margin-left: 20px;
}

.sidebar_extern img{
    height: 20px;
}

.sidebar_extern img:hover{
    transform: scale(1.6);
    transition: transform 0.05s ease-in-out;
}

.sidebar_navi {
    margin-top: 30px;
}

.sidebar_navi a{
    font-family: var(--header-font);
    color: var(--blue-basic);
    font-size: 23px;
    line-height: 8px;
    display: block;
    background-color: var(--white-basic);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 0px;
}

.sidebar_navi a.select{
    color: var(--white-basic);
    font-weight: 800;
    text-decoration: none;
    background-color: var(--black-basic);
    border-radius: 10px 0px 0px 10px;
}

.sidebar_navi a:hover {
    font-weight: 800;
    text-decoration: none;
}

.home_intro {
    font-family: var(--header-font);
    font-size: 20px;
    line-height: 40px;
}

.home_intro a, li, li>a{
    font-size: 20px;
    line-height: 30px;
}

#myChart {
    margin-top: 15px;
    margin-bottom: 50px;
    height: 300px;
    width: 820px;
    min-height: 300px;
    border: 2px solid var(--blacker-basic);
    box-shadow: 10px 10px 10px var(--blacker-basic);
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.zc-ref {
    display: none;
}

a[target="_blank"]::after {
    content: "";
    width: 1em;
    height: 0.9em;
    margin: 0em 0em -0.1em 0.2em;
    background: Url('/image/icon/external_link.png')  no-repeat;
    background-size: contain;
    display: inline-block;
}

.resource_annot, .myfollowings_annot, .books_annot {
    font-family: var(--mono-font);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--gray-basic);
}

#pub_ads_link {
    font-family: var(--header-font);
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

#blogs_files {
    display: block;
    margin-top: 40px;

}

.blogs_files_year {
    display: block;
    font-size: 40px;
    font-family: var(--header-font);
    font-weight: 500;
    margin: 0px;
}

.blogs_files_year::before{
    content: "";
    width: 1em;
    height: 0.6em;
    background: Url('/image/icon/time_icon.jpg')  no-repeat;
    background-size: contain;
    display: inline-block;
}

#blogs_files .blogs_files_date {
    font-size: 18px;
    font-family: var(--mono-font);
    color: var(--gray-basic);
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: -60px;
    padding-right: 40px;
    padding-top: 9px;
    padding-left: 20px;
    padding-bottom: 8px;
    border-radius: 20px 0px 0px 20px;
}

#blogs_files li a {
    font-size: 20px;
    font-family: var(--header-font);
    color: var(--dark-header-color);
    font-weight: 400;
}

#blogs_files li{
    padding-top: 5px;
    padding-left: -80px;
    margin-left: 100px;
    margin-bottom: 20px;
    list-style-type: "> ";
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-header-color);
}

#blogs_files .blogs_files_descri {
    margin-left: 100px;
    background-color: var(--blacker-basic);
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    padding-left: 10px;
    color: var(--whiter-basic);
    font-family: var(--mono-font);
    box-shadow: 8px 8px 8px var(--blacker-basic);
    margin-right: 0px;
    padding-right: 10px;
}

#blogs_files li.label_toggle{
    background-color: var(--blacker-basic);
    border-radius: 0px 20px 0px 0px;
    box-shadow: 8px 8px 8px var(--blacker-basic);
    list-style-type: "v ";
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-header-color);
    padding-right: 10px;
}

#blogs_files .label_toggle{
    background-color: var(--blacker-basic);
    box-shadow: 8px 8px 8px var(--blacker-basic);
}

#blog_category, #blog_tag{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

#blog_category .blog_cate_title, #blog_tag .blog_tag_title{
    display: block;
    font-family: var(--mono-font);
    font-size: 20px;
    margin-left: -20px;
}

#blog_category .blog_cate_name, #blog_tag .blog_tag_name {
    background-color: black;
    display: inline-block;
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px 10px 10px 10px;
}

#blog_category .blog_cate_name, #blog_tag .blog_tag_name {
    background-color: var(--blacker-basic);
    color: var(--whiter-basic);
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px 10px 10px 10px;
}

#blog_category .blog_cate_name.onclick, #blog_tag .blog_tag_name.onclick {
    background-color: var(--whiter-basic);
    color: var(--blacker-basic);
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px 10px 10px 10px;
}
